html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

@keyframes animBG {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 100%;
	}
}

.container {
	height: 100%;
	animation: animBG 120s linear infinite;
	background-image: url("images/asteroids.jpg");
	background-repeat: repeat;
	/*font-family: 'Trebuchet MS', sans-serif;*/
	font-family: 'Courier New', monospace;
	display: grid;
	place-items: center;
}

.list {
	display: grid;
	place-items: center;
}

img {
	border-radius: 7px;
	height: 20vmin;
	pointer-events: none;
}

h1 {
	font-size: 8vmin;
	color: #fdefc0;
	background-color: rgba(0, 0, 0, 0.4);
}

.item {
	font-size: 6vmin;
	color: #fdefc0;
	background-color: rgba(0, 0, 0, 0.4);
	text-decoration: none;
}

.item:hover {
	color: hotpink;
}


.sep {
	font-size: 6vmin;
	color: #fdefc0;
	background-color: rgba(0, 0, 0, 0.4);
	text-decoration: none;
}

.sep:hover {
	font-weight:bold;
}
