html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.container {
	height: 100%;
	background: #423F3E;
	/*background-image: url("images/asteroids.jpg");
	background-repeat: repeat;
	font-family: 'Trebuchet MS', sans-serif;*/
	font-family: 'Courier New', monospace;
	display: grid;
	place-items: center;
}

.list {
	display: grid;
	place-items: center;
}

h1 {
	font-size: 8vmin;
	color: #fdefc0;
}

.item {
	font-size: 6vmin;
	color: #fdefc0;
	text-decoration: none;
}

.item:hover {
	color: hotpink;
}


.sep {
	font-size: 6vmin;
	color: #fdefc0;
	text-decoration: none;
}

.sep:hover {
	font-weight:bold;
}
