html,
body,
#root,
#root > div {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  font-family: VG5000;
  background-image: url(../assets/patterns/asteroids.jpg);
  background-repeat: repeat;
}

// .loading {
//   background-color: #000;
//   color: #fff;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

@import "index";
