html,
body,
#root,
#root > div {
  height: 100%;
  width: 100%;
}

.Index-logo {
  height: 40vmin;
  pointer-events: none;
}

.Index-canvas {
  background-color: #234;
  display: block;
  height: 100%;
  width: 100%;
}

.Index-link {
  color: #61dafb;
}
